<% if user_signed_in? %>
<h1>Welcome to the library</h1>
    <table class='table'>
    <tr>
        <th>Cover Photo</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Date</th>
        <th>Link</th>
    </tr>
    <% @library.each do |book|%>
    <tr>
        <td><img height='100'src= '<%= book.cover_photo %>'></td>
        <td><%= book.title %></td>
        <td><%=book.author%></td>
        <td><%= book.description %></td>
        <td><%=book.genre%></td>
        <td><%= book.date %></td>
        <td><%=link_to 'Read', "/start?user_id=#{current_user.id}&book_id=#{book.id}&url=#{book.url}"%></td>
        <% if current_user.status=="admin"%>
        <td><a href="/edit?id=<%=book.id%>">Edit</a>
        <%=link_to 'Delete', "/delete?id=#{book.id}", method: :delete%></td>
        <%end%>
    </tr>
    <% end %>
</table>
<%else%>
<h1>Welcome to Bookish</h1>
<a href="/users/sign_in">Login</a>
<% end %>