
<table class='table'>
    <tr>
        <th>Cover Photo</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Date</th>
        <th>Link</th>
    </tr>
    <% @books.each do |book|%>
    <tr>
        <td><img height='100'src= '<%= book.cover_photo %>'></td>
        <td><%= book.title %>
        <td><%=book.author%></td>
        <td><%= book.description %></td>
        <td><%=book.genre%></td>
        <td><%=book.date%></td>
        <td><%=link_to 'Read', "/start?user_id=#{current_user.id}&book_id=#{book.id}&url#{book.url}"%></td>
        <% if current_user.status=="admin"%>
        <td><a href="/book/<%=book.id%>/edit">Edit</a>
        <%=link_to 'Delete', "/delete?id=#{book.id}", method: :delete%></td>
        <%end%>
    </tr>
    <% end %>
</table>