<h1>Hi, <%=current_user.username%>!</h1>
<p>Looking good as always</p>
 <div><img height='200' src='<%=current_user.avatar%>'></div>
 <table class='table'>
    <tr>
        <th>Save Name</th>
        <th>Cover Photo</th>
        <th>Book</th>
        <th>Link</th>
        <th>Delete</th>
    </tr>
    <% @story_save.each do |story_save|%>
    <tr>
        <% if story_save.user_id==current_user.id%>
        <td><%=story_save.name%>
        <a href="/edit_history?id=<%=story_save.id%>">Edit</a></td>
        <td><img height='75'src= '<%= Book.find_by(id: "#{story_save.book_id}").cover_photo %>'></td>
        <td><%=Book.find_by(id: "#{story_save.book_id}").title%></td>
        <td><%=link_to 'Read', "/start?id=#{story_save.id}&user_id=#{current_user.id}&book_id=#{story_save.book_id}&bookmark=#{story_save.bookmark}"%></td>
        <td><%=link_to 'Delete', "/delete_history?id=#{story_save.id}", method: :delete%></td>
            
        <% end %>
    </tr>

    <% end %>
    </table>
